div.container{
    background-color: #f9f3ef;
}
div.details{
    border: 1px;
    border-radius: 10px;
    background-color: #f9f3ef;
    width: 14rem;
    text-align: center;
}
div.cardin{
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #456882;
    /* margin-top: 50px; */
    gap: 15px;
    margin-bottom: 5px;

}